<div class="bg-gray-50 p-10">
  <h1 class="text-5xl font-extrabold abril-fatface-regular">
    <span class="text-gray-300">A Showcase of My Work <br /> </span>
    Explore projects showcasing my expertise and creativity.
  </h1>
  <div class="flex gap-4 justify-evenly p-10">
    <div class="bg-gray-300">
      <img src="../../assets/projects/projects.jpeg" alt="" />
      <div class="p-2">
        <h3 class="text-white font-bold">Projects Name</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          tempore at hic placeat voluptatum quae voluptates sit nulla maiores
          dolore, ab debitis laborum ullam aspernatur animi vitae illum neque
          quo?
        </p>
      </div>
    </div>
    <div class="bg-gray-300">
      <img src="../../assets/projects/projects.jpeg" alt="" />
      <div class="p-2">
        <h3 class="text-white font-bold">Projects Name</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          tempore at hic placeat voluptatum quae voluptates sit nulla maiores
          dolore, ab debitis laborum ullam aspernatur animi vitae illum neque
          quo?
        </p>
      </div>
    </div>
    <div class="bg-gray-300">
      <img src="../../assets/projects/projects.jpeg" alt="" />
      <div class="p-2">
        <h3 class="text-white font-bold">Projects Name</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          tempore at hic placeat voluptatum quae voluptates sit nulla maiores
          dolore, ab debitis laborum ullam aspernatur animi vitae illum neque
          quo?
        </p>
      </div>
    </div>
  </div>
</div>
