<main>
  <nav class="bg-sky-400 shadow-md sticky top-0">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex justify-between">
          <a href="#" class="flex-shrink-0 flex items-center">
            <span
              class="ml-2 text-xl font-semibold text-gray-700 righteous-regular"
            >
              Shubhangi Metkari
            </span>
          </a>
        </div>
        <div class="-mr-2 flex items-center">
          <div class="hidden md:flex ml-10 space-x-4 xs:hidden">
            <a
              href="#"
              class="text-gray-700 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium"
              >Home</a
            >
            <a
              href="#"
              class="text-gray-700 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium"
              >About</a
            >
            <a
              href="#"
              class="text-gray-700 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium"
              >Services</a
            >
            <a
              href="#"
              class="text-gray-700 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium"
              >Contact</a
            >
          </div>
          <button
            type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white md:hidden"
            aria-controls="mobile-menu"
            aria-expanded="false"
            (click)="toggleMenu()"
          >
            <span class="sr-only">Open main menu</span>
            <!-- Icon for mobile -->
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu -->
    <div [ngClass]="{ hidden: !isMenuOpen }" id="mobile-menu" class="md:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a
          href="#"
          class="text-gray-700 hover:text-blue-600 block px-3 py-2 rounded-md text-base font-medium"
          >Home</a
        >
        <a
          href="#"
          class="text-gray-700 hover:text-blue-600 block px-3 py-2 rounded-md text-base font-medium"
          >About</a
        >
        <a
          href="#"
          class="text-gray-700 hover:text-blue-600 block px-3 py-2 rounded-md text-base font-medium"
          >Services</a
        >
        <a
          href="#"
          class="text-gray-700 hover:text-blue-600 block px-3 py-2 rounded-md text-base font-medium"
          >Contact</a
        >
      </div>
    </div>
  </nav>
  <app-home-page> </app-home-page>
  <app-projects> </app-projects>
</main>
